Repository MohsenHNSJ/unofficial_tabdeal_api: changes, and which Codecov flags are due for each by the changed paths.
All: Source, Tests

codecov.yml:

codecov:
  branch: main # Default branch
  require_ci_to_pass: false # Should Codecov wait for all other statuses to pass before sending its status.

component_management:
  individual_components: # List. These are the actual components.
    - component_id: src # This is an identifier that should not be changed
      name: Source # This is a display name, and can be changed freely
      paths:
        - src/unofficial_tabdeal_api/**
    - component_id: tests
      name: Tests
      paths:
        - tests/**

# Useful for blocking Pull Requests that don't meet a particular coverage threshold.
coverage:
  precision: 3 # What precision do you want the coverage value to be
  range: "95...100" # The value range where you want the value to be green
  status:
    project:
      default: # Default is the status check's name, not default settings
        target: 95% # Minimum coverage ratio that the commit must meet to be considered a success.
        threshold: 5% # Allow the coverage to drop by <number>%, and posting a success status.
        if_ci_failed: error # Will set the status to success only if the CI is successful

# Detailed report commented directly into your pull request
comment:
  layout: "diff, flags, components, files" # Customize your comment layout by choosing the order and types of components to include.
  behavior: new # Delete old and post new.
  require_changes: false # # if true: only post the comment if coverage changes
  require_base: false # Base commit not required for posting
  require_head: true # Must have a head commit to post
  hide_project_coverage: false # Only show coverage on the git diff

Added get_orders_history function
  .pre-commit-config.yaml
  .vscode/settings.json
  src/unofficial_tabdeal_api/constants.py
  src/unofficial_tabdeal_api/margin.py
  src/unofficial_tabdeal_api/order.py
  tests/test_constants.py
  tests/test_margin.py
  tests/test_order.py
  tests/test_server.py
Due: Source, Tests

Added get_order_state function
  src/unofficial_tabdeal_api/enums.py
  src/unofficial_tabdeal_api/exceptions.py
  src/unofficial_tabdeal_api/order.py
  tests/test_constants.py
  tests/test_order.py
  tests/test_server.py
Due: Source, Tests

Re-worked tests to reduce boilerplate code
  tests/test_margin.py
  tests/test_order.py
Due: Tests

Fixed warnings from hoverxref for unknown typ (ref) and (class)
  docs/conf.py
Due: none

Removed installation of python 3.11 on dev container as it gets swapped to main python instead of 3.13 in some cases
  .devcontainer/devcontainer.json
Due: none

Re-worked more tests to reduce boilerplate code
  .pre-commit-config.yaml
  tests/test_authorization.py
  tests/test_base.py
Due: Tests

Bump Ruff from 0.11.9 to 0.11.10
  .github/workflows/constraints.txt
  poetry.lock
  pyproject.toml
Due: none

Removed commented-out code as it invokes a formatting error
  .devcontainer/devcontainer.json
Due: none

Replaced docker extension with containers extension
  .devcontainer/devcontainer.json
Due: none

Removed Hoverxref as it's deprecated and replaces by Read the docs Link previews
  docs/conf.py
  docs/requirements.txt
  poetry.lock
  pyproject.toml
  src/unofficial_tabdeal_api/tabdeal_client.py
Due: Source

Fixed documentation failing to build
  .readthedocs.yml
  docs/conf.py
Due: none

Trying to enable rst file checking
  .devcontainer/devcontainer.json
  .vscode/settings.json
Due: none

Added doc8 and rstcheck as requirements for rst linter
  poetry.lock
  pyproject.toml
Due: none

Added doc8 and rstcheck nox sessions
  .github/workflows/constraints.txt
  README.rst
  noxfile.py
  pyproject.toml
Due: none

Added path for rstcheck module
  noxfile.py
Due: none

Added configurations for doc8 and rstcheck
  pyproject.toml
Due: none

Added a comment
  pyproject.toml
Due: none

Added esbonio language server to dev dependencies
  poetry.lock
  pyproject.toml
Due: none

Added open_margin_order function
  .vscode/settings.json
  CONTRIBUTING.rst
  src/unofficial_tabdeal_api/base.py
  src/unofficial_tabdeal_api/constants.py
  src/unofficial_tabdeal_api/enums.py
  src/unofficial_tabdeal_api/exceptions.py
  src/unofficial_tabdeal_api/margin.py
  src/unofficial_tabdeal_api/order.py
  src/unofficial_tabdeal_api/utils.py
Due: Source

Trying to increase coverage
  tests/test_base.py
Due: Tests

Revert changes
  tests/test_base.py
Due: Tests

Increased coverage
  .vscode/settings.json
  src/unofficial_tabdeal_api/base.py
  src/unofficial_tabdeal_api/constants.py
  src/unofficial_tabdeal_api/exceptions.py
  tests/test_order.py
  tests/test_server.py
  tests/test_wallet.py
Due: Source, Tests

Fixed type checking block counts as uncovered line
  src/unofficial_tabdeal_api/margin.py
Due: Source

Improved coverage
  tests/test_constants.py
  tests/test_margin.py
  tests/test_server.py
Due: Tests

Improve code coverage
  tests/test_constants.py
  tests/test_margin.py
  tests/test_server.py
Due: Tests

Ignored some lines for coverage
  tests/test_base.py
Due: Tests

Improved code coverage
  tests/test_server.py
  tests/test_wallet.py
Due: Tests

Ignored some lines that coverage is not needed
  tests/test_utils.py
Due: Tests

Corrected ignoring of coverage report on some lines
  tests/test_base.py
  tests/test_utils.py
Due: Tests

Improved coverage
  tests/test_constants.py
  tests/test_margin.py
  tests/test_server.py
  tests/test_wallet.py
Due: Tests

Added tests for calculate_order_volume (main function needs re-work)
  src/unofficial_tabdeal_api/utils.py
  tests/test_constants.py
  tests/test_utils.py
Due: Source, Tests

Improved wallet tests coverage
  tests/test_server.py
Due: Tests

Add coverage for TabdealClient
  src/unofficial_tabdeal_api/tabdeal_client.py
  tests/test_tabdeal_client.py
Due: Source, Tests

Added coverage for test object
  tests/test_constants.py
  tests/test_order.py
Due: Tests

Improved code coverage
  src/unofficial_tabdeal_api/order.py
  tests/test_constants.py
  tests/test_order.py
  tests/test_server.py
Due: Source, Tests

Added open_margin_order function
  src/unofficial_tabdeal_api/constants.py
  src/unofficial_tabdeal_api/enums.py
  src/unofficial_tabdeal_api/margin.py
  src/unofficial_tabdeal_api/order.py
  src/unofficial_tabdeal_api/utils.py
  tests/test_constants.py
  tests/test_helper_functions.py
  tests/test_margin.py
  tests/test_order.py
  tests/test_server.py
  tests/test_utils.py
Due: Source, Tests

Removed doc8, esbonio and rstcheck completely as they are annoying and useless
  .devcontainer/devcontainer.json
  .github/workflows/constraints.txt
  noxfile.py
  poetry.lock
  pyproject.toml
Due: none

Bump codecov/codecov-action from 5.4.2 to 5.4.3
  .github/workflows/main_tests.yml
  .github/workflows/test_tests.yml
Due: none

Bump cryptography from 44.0.2 to 45.0.2
  poetry.lock
  pyproject.toml
Due: none

Added coverage for calculate-usdt function
  tests/test_utils.py
Due: Tests
