Repository MohsenHNSJ/unofficial_tabdeal_api: changes, and which Codecov flags are due for each by the changed paths.
All: Source, Tests

codecov.yml:

codecov:
  branch: main # Default branch
  require_ci_to_pass: false # Should Codecov wait for all other statuses to pass before sending its status.

component_management:
  individual_components: # List. These are the actual components.
    - component_id: src # This is an identifier that should not be changed
      name: Source # This is a display name, and can be changed freely
      paths:
        - src/unofficial_tabdeal_api/**
    - component_id: tests
      name: Tests
      paths:
        - tests/**

# Useful for blocking Pull Requests that don't meet a particular coverage threshold.
coverage:
  precision: 3 # What precision do you want the coverage value to be
  range: "95...100" # The value range where you want the value to be green
  status:
    project:
      default: # Default is the status check's name, not default settings
        target: 95% # Minimum coverage ratio that the commit must meet to be considered a success.
        threshold: 5% # Allow the coverage to drop by <number>%, and posting a success status.
        if_ci_failed: error # Will set the status to success only if the CI is successful

# Detailed report commented directly into your pull request
comment:
  layout: "diff, flags, components, files" # Customize your comment layout by choosing the order and types of components to include.
  behavior: new # Delete old and post new.
  require_changes: false # # if true: only post the comment if coverage changes
  require_base: false # Base commit not required for posting
  require_head: true # Must have a head commit to post
  hide_project_coverage: false # Only show coverage on the git diff

Fully implemented Pydantic into wallet class for input/output validation
  .vscode/settings.json
  src/unofficial_tabdeal_api/wallet.py
Due: Source

Removed duplicate extension declaration Updated Ruff to 0.12.1
  .devcontainer/devcontainer.json
  .github/workflows/constraints.txt
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

Updated post-create.sh to exit on error and e well documented
  .devcontainer/post-create.sh
Due: none

Added caching to build test workflow
  .github/workflows/build-tests.yml
  .vscode/settings.json
Due: none

Fix for cache directory of poetry does not exist
  .github/workflows/build-tests.yml
Due: none

Added caching to codspeed workflow
  .github/workflows/codspeed.yml
Due: none

Added cache status printing to workflow
  .github/workflows/build-tests.yml
Due: none

Added caching to workflow
  .github/workflows/compatibility-coverage.yml
Due: none

Added a documentation in constraints file explaining why we are sticking to pydantic 2.9.2
  .github/workflows/constraints.txt
Due: none

Added caching to de-release-test-package workflow
  .github/workflows/dev-release-test-package.yml
Due: none

Set kics to scan for everything
  .github/workflows/kics.yml
Due: none

Test for kics functionality
  .github/workflows/kics.yml
Due: none

Test done well, reverting the changes
  .github/workflows/kics.yml
Due: none

Added caching and asset uploading to releases page
  .github/workflows/release-packge.yml
  .vscode/settings.json
Due: none

Removed redundant configuration of issues templates
  .github/ISSUE_TEMPLATE/config.yml
Due: none

Updated labels colors
  .github/labels.yml
Due: none

Updated launch settings
  .vscode/launch.json
Due: none

Updated security file
  SECURITY.md
Due: none

Updated requirements file to also include pydantic
  requirements.txt
Due: none

Updated nox sessions
  .github/workflows/build-tests.yml
  .github/workflows/compatibility-coverage.yml
  noxfile.py
Due: none

Updated lychee configurations
  lychee.toml
Due: none

Updated contributors page
  CONTRIBUTING.rst
Due: none

Fixed incorrect references
  CONTRIBUTING.rst
Due: none

Updated codecov configuration
  CODE_OF_CONDUCT.rst
  codecov.yml
Due: none

Updated shellcheck configurations
  .shellcheckrc
Due: none

Updated safety-cli config file
  .safety-policy.yml
Due: none

Added generating of SHA256 hashes of release assets
  .github/workflows/release-packge.yml
Due: none

Updated hound and markdownlint configurations
  .hound.yml
  .markdown-link-check.json
Due: none

Updated grype configuration
  .grype.yaml
Due: none

Updated readme file
  README.rst
Due: none

Refactored init file
  src/unofficial_tabdeal_api/__init__.py
Due: Source

Refactored authorization module
  src/unofficial_tabdeal_api/authorization.py
  tests/test_authorization.py
Due: Source, Tests

Reduced the complexity of check response function. #292
  src/unofficial_tabdeal_api/base.py
Due: Source

Disable hound checking via flake8
  .hound.yml
Due: none

Added coverage for more lines
  tests/test_base.py
Due: Tests

Fix readthedocs failing
  docs/conf.py
Due: none

Slight increase in coverage
  src/unofficial_tabdeal_api/base.py
Due: Source

Small fixes to enums module
  src/unofficial_tabdeal_api/enums.py
Due: Source

Small fixes for exceptions module
  src/unofficial_tabdeal_api/exceptions.py
Due: Source

Bump version to 0.3.0
  pyproject.toml
  src/unofficial_tabdeal_api/__init__.py
Due: Source
