Repository MohsenHNSJ/unofficial_tabdeal_api: changes, and which Codecov flags are due for each by the changed paths.
All: Source, Tests

codecov.yml:

codecov:
  branch: main # Default branch
  require_ci_to_pass: false # Should Codecov wait for all other statuses to pass before sending its status.

component_management:
  individual_components: # List. These are the actual components.
    - component_id: src # This is an identifier that should not be changed
      name: Source # This is a display name, and can be changed freely
      paths:
        - src/unofficial_tabdeal_api/**
    - component_id: tests
      name: Tests
      paths:
        - tests/**

# Useful for blocking Pull Requests that don't meet a particular coverage threshold.
coverage:
  precision: 3 # What precision do you want the coverage value to be
  range: "95...100" # The value range where you want the value to be green
  status:
    project:
      default: # Default is the status check's name, not default settings
        target: 95% # Minimum coverage ratio that the commit must meet to be considered a success.
        threshold: 5% # Allow the coverage to drop by <number>%, and posting a success status.
        if_ci_failed: error # Will set the status to success only if the CI is successful

# Detailed report commented directly into your pull request
comment:
  layout: "diff, flags, components, files" # Customize your comment layout by choosing the order and types of components to include.
  behavior: new # Delete old and post new.
  require_changes: false # # if true: only post the comment if coverage changes
  require_base: false # Base commit not required for posting
  require_head: true # Must have a head commit to post
  hide_project_coverage: false # Only show coverage on the git diff

fixed a small typo
  README.rst
Due: none

Added more sections to readme file
  README.rst
Due: none

Completed the readme file
  README.rst
Due: none

Added emojis to readme titles
  README.rst
  lychee.toml
Due: none

Small fix in readme file
  README.rst
Due: none

Fixed missing exclude in lychee configuration
  lychee.toml
Due: none

Optimized the readme table
  .pre-commit-config.yaml
  README.rst
Due: none

Bump ruff to 0.12.2
  poetry.lock
  pyproject.toml
Due: none

Bump coverage to 7.9.2
  poetry.lock
  pyproject.toml
Due: none

Specified timeout in base functions
  src/unofficial_tabdeal_api/base.py
Due: Source

Revert setting timeout
  src/unofficial_tabdeal_api/base.py
Due: Source

Added tests for trade_margin_order function
  src/unofficial_tabdeal_api/wallet.py
  tests/test_tabdeal_client.py
Due: Source, Tests

Bump aiosignal from 1.3.2 to 1.4.0
  poetry.lock
  pyproject.toml
Due: none

Added max cap to margin_level property in MarginOrder class
  src/unofficial_tabdeal_api/constants.py
  src/unofficial_tabdeal_api/order.py
Due: Source

Added a models module to hold the models for other classes
  src/unofficial_tabdeal_api/models.py
  src/unofficial_tabdeal_api/order.py
  src/unofficial_tabdeal_api/wallet.py
Due: Source

Fixed error in margin.py function
  src/unofficial_tabdeal_api/margin.py
Due: Source

Fixed errors in test functions
  tests/test_constants.py
  tests/test_order.py
  tests/test_tabdeal_client.py
Due: Tests

Major overhaul to functions
  .vscode/settings.json
  src/unofficial_tabdeal_api/margin.py
  src/unofficial_tabdeal_api/models.py
  src/unofficial_tabdeal_api/tabdeal_client.py
  tests/test_constants.py
  tests/test_margin.py
  tests/test_server.py
Due: Source, Tests

More overhaul of tests, still under heavy modifications and not yet complete
  .vscode/settings.json
  src/unofficial_tabdeal_api/margin.py
  tests/test_constants.py
  tests/test_margin.py
  tests/test_server.py
Due: Source, Tests

Fixed errors in margin tests
  .vscode/settings.json
  tests/test_constants.py
  tests/test_margin.py
  tests/test_server.py
Due: Tests

Temporary disabled the trade_margin_order function test
  .pre-commit-config.yaml
  tests/test_tabdeal_client.py
Due: Tests

Fixed some documentation bugs
  .pre-commit-config.yaml
  CONTRIBUTING.rst
  README.rst
  styles/config/ignore/spell_ignore.txt
Due: none

Fixed docstring bugs
  src/unofficial_tabdeal_api/tabdeal_client.py
Due: Source

Fixed small misspell
  src/unofficial_tabdeal_api/margin.py
Due: Source

Removed commented out code
  tests/test_tabdeal_client.py
Due: Tests

Fixed multiple misspells
  .github/actions/setup-poetry-env/action.yml
  src/unofficial_tabdeal_api/margin.py
  tests/test_margin.py
Due: Source, Tests

Fixed invalid reference in docstrings
  src/unofficial_tabdeal_api/margin.py
Due: Source

Removed unnecessary `async` in test_init() function
  tests/test_base.py
Due: Tests

Removed unnecessary `async` from test_init() function
  tests/test_tabdeal_client.py
Due: Tests

Add invalid dictionary and list test cases to enhance error handling
  .vscode/settings.json
  tests/test_constants.py
  tests/test_margin.py
  tests/test_server.py
Due: Tests

Convert test_init functions to async for compatibility with asynchronous operations
  tests/test_base.py
  tests/test_tabdeal_client.py
Due: Tests

Remove redundant condition for sell isolated symbol in symbol_details_query_responder
  tests/test_server.py
Due: Tests

Update transfer model documentation and enhance invalid dictionary handling in tests
  src/unofficial_tabdeal_api/models.py
  tests/test_constants.py
  tests/test_server.py
  tests/test_wallet.py
Due: Source, Tests

Add break statements to improve search efficiency in MarginClass and TabdealClient
  src/unofficial_tabdeal_api/margin.py
  src/unofficial_tabdeal_api/tabdeal_client.py
Due: Source

Add pragma directive to TYPE_CHECKING import for clarity
  tests/test_tabdeal_client.py
Due: Tests

Refactor trade margin order validation into a separate method and add comprehensive tests for validation conditions
  .vscode/settings.json
  src/unofficial_tabdeal_api/tabdeal_client.py
  tests/test_tabdeal_client.py
Due: Source, Tests

Enhance TabdealClient with _open_order method and corresponding tests for order handling
  .vscode/settings.json
  src/unofficial_tabdeal_api/tabdeal_client.py
  tests/test_tabdeal_client.py
Due: Source, Tests

Refactor TabdealClient to add _wait_for_order_fill method and update trade_margin_order to utilize it; enhance tests for order fill scenarios
  .vscode/settings.json
  src/unofficial_tabdeal_api/tabdeal_client.py
  tests/test_tabdeal_client.py
Due: Source, Tests

Add _setup_stop_loss_take_profit method to TabdealClient and implement tests for SL/TP setup scenarios
  .vscode/settings.json
  src/unofficial_tabdeal_api/tabdeal_client.py
  tests/test_tabdeal_client.py
Due: Source, Tests

Add _wait_for_order_close method to TabdealClient and implement tests for order closure scenarios
  src/unofficial_tabdeal_api/tabdeal_client.py
  tests/test_tabdeal_client.py
Due: Source, Tests
