Repository MohsenHNSJ/unofficial_tabdeal_api: changes, and which Codecov flags are due for each by the changed paths.
All: Source, Tests

codecov.yml:

codecov:
  branch: main # Default branch
  require_ci_to_pass: false # Should Codecov wait for all other statuses to pass before sending its status.

component_management:
  individual_components: # List. These are the actual components.
    - component_id: src # This is an identifier that should not be changed
      name: Source # This is a display name, and can be changed freely
      paths:
        - src/unofficial_tabdeal_api/**
    - component_id: tests
      name: Tests
      paths:
        - tests/**

# Useful for blocking Pull Requests that don't meet a particular coverage threshold.
coverage:
  precision: 3 # What precision do you want the coverage value to be
  range: "95...100" # The value range where you want the value to be green
  status:
    project:
      default: # Default is the status check's name, not default settings
        target: 95% # Minimum coverage ratio that the commit must meet to be considered a success.
        threshold: 5% # Allow the coverage to drop by <number>%, and posting a success status.
        if_ci_failed: error # Will set the status to success only if the CI is successful

# Detailed report commented directly into your pull request
comment:
  layout: "diff, flags, components, files" # Customize your comment layout by choosing the order and types of components to include.
  behavior: new # Delete old and post new.
  require_changes: false # # if true: only post the comment if coverage changes
  require_base: false # Base commit not required for posting
  require_head: true # Must have a head commit to post
  hide_project_coverage: false # Only show coverage on the git diff

Added steps to upload Kics results to Security page of github
  .github/workflows/test_tests.yml
Due: none

I have given up, too much time wasted. This is working FINE. cant optimize it anymore at the moment. Maybe a later time? I will create an issue for this
  .github/workflows/test_tests.yml
Due: none

Enabled the kick config file
  .github/workflows/test_tests.yml
  kics.config
Due: none

Bump aiohttp from 3.11.18 to 3.12.2
  .github/workflows/constraints.txt
  poetry.lock
  pyproject.toml
  requirements.txt
Due: none

Bump authlib from 1.5.2 to 1.6.0
  poetry.lock
  pyproject.toml
Due: none

Bump click from 8.1.8 to 8.2.1
  poetry.lock
  pyproject.toml
Due: none

Bump charset-normalizer from 3.4.1 to 3.4.2
  poetry.lock
  pyproject.toml
Due: none

Bump multidict from 6.4.3 to 6.4.4
  poetry.lock
  pyproject.toml
Due: none

Bump pluggy from 1.5.0 to 1.6.0
  poetry.lock
  pyproject.toml
Due: none

Partial addition of trade_margin_order function
  .pre-commit-config.yaml
  .vscode/extensions.json
  src/unofficial_tabdeal_api/exceptions.py
  src/unofficial_tabdeal_api/margin.py
  src/unofficial_tabdeal_api/order.py
  src/unofficial_tabdeal_api/tabdeal_client.py
  tests/test_constants.py
  tests/test_margin.py
  tests/test_order.py
Due: Source, Tests

Removed DevSkim extension
  .devcontainer/devcontainer.json
Due: none

Fix some yaml problems
  .grype.yaml
  .pre-commit-config.yaml
  .yamllint.yml
Due: none

Fix
  .yamllint.yml
Due: none

revert fixes
  .yamllint.yml
Due: none

Bump ruff from 0.11.11 to 0.11.12
  .github/workflows/constraints.txt
  poetry.lock
  pyproject.toml
Due: none

Bump aiohttp from 3.12.2 to 3.12.4
  .github/workflows/constraints.txt
  poetry.lock
  pyproject.toml
  requirements.txt
Due: none

Fixed documentation bug
  src/unofficial_tabdeal_api/margin.py
Due: Source

Bump mypy from 1.15.0 to 1.16.0
  .github/workflows/constraints.txt
  poetry.lock
  pyproject.toml
Due: none

Updated codspeed workflow to also run on tests branch
  .github/workflows/codspeed.yml
Due: none

Separated DustiLock and Safety-CLI from main tests into their own workflow
  .github/workflows/codspeed.yml
  .github/workflows/dusti-lock.yml
  .github/workflows/main_tests.yml
  .github/workflows/safety-cli.yml
  .github/workflows/test_tests.yml
  .vscode/settings.json
Due: none

Separated build tests and compatibility tests workflows
  .github/workflows/build-tests.yml
  .github/workflows/compatibility-coverage.yml
  .github/workflows/test_tests.yml
Due: none

Fixed indentation
  .github/workflows/safety-cli.yml
Due: none

Added calculate_sl_tp_prices
  src/unofficial_tabdeal_api/order.py
  src/unofficial_tabdeal_api/tabdeal_client.py
  src/unofficial_tabdeal_api/utils.py
Due: Source

Fixed small typing issues
  tests/test_constants.py
Due: Tests

trade_margin_order function seems to be complete, testing it with real money
  src/unofficial_tabdeal_api/tabdeal_client.py
Due: Source

Set development status to Alpha
  pyproject.toml
Due: none

Bump version
  pyproject.toml
  src/unofficial_tabdeal_api/__init__.py
Due: Source

Added some loggings for debugging
  src/unofficial_tabdeal_api/tabdeal_client.py
Due: Source

Fixed MegaLinter badge not showing any data
  README.rst
Due: none

Added coverage for test_calculate_sl_tp_prices
  tests/test_utils.py
Due: Tests

Added coverage for is_margin_order_filled function
  src/unofficial_tabdeal_api/margin.py
  tests/test_constants.py
  tests/test_margin.py
  tests/test_server.py
Due: Source, Tests

Ignored a type checking block for coverage
  src/unofficial_tabdeal_api/tabdeal_client.py
Due: Source

Fixed a small bug in testing
  tests/test_margin.py
Due: Tests

Bump aiohttp from 3.12.4 to 3.12.6
  .github/workflows/constraints.txt
  poetry.lock
  pyproject.toml
  requirements.txt
Due: none

نسخه فارسی Readme
  .pre-commit-config.yaml
  .vscode/settings.json
  README.fa.rst
  docs/index.rst
Due: none

Cancel persian translation for now, as it's very time consuming. maybe another time, maybe y another person
  README.fa.rst
  README.rst
  docs/index.rst
Due: none

Fixed critical bug related to package not being initialized
  src/unofficial_tabdeal_api/__init__.py
Due: Source

FIxed missing dependencies from final package
  src/unofficial_tabdeal_api/__init__.py
Due: Source

Bump ruamel-yaml from 0.18.10 to 0.18.12
  poetry.lock
  pyproject.toml
Due: none

Trying to fix documentation failing to build
  src/unofficial_tabdeal_api/__init__.py
Due: Source
