Repository MohsenHNSJ/unofficial_tabdeal_api: changes, and which Codecov flags are due for each by the changed paths.
All: Source, Tests

Remove unused DryRun enum and related keep_authorization_key_alive function from authorization module and tests. Related to [🐛 Bug]: `keep_authorization_key_alive` is actually useless Fixes #450
  src/unofficial_tabdeal_api/authorization.py
  src/unofficial_tabdeal_api/enums.py
  tests/test_authorization.py
Due: Source, Tests

Add descriptions for aiohttp and pydantic in the Tech stack section of README. Related to [📚 Docs]: Describe why each package is used under Tech stack section Fixes #476
  README.rst
Due: none

Remove PDF format option from Read the Docs configuration as it fails documentation building
  .readthedocs.yml
Due: none

Bump version to 0.3.7 in pyproject.toml and __init__.py
  pyproject.toml
  src/unofficial_tabdeal_api/__init__.py
Due: Source

Remove unused AUTH_KEY_INVALIDITY_THRESHOLD constant and related comments from constants.py
  src/unofficial_tabdeal_api/constants.py
Due: Source

Bump watchfiles dependency from 1.0.5 to 1.1.0 in pyproject.toml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

Bump virtualenv dependency from 20.30.0 to 20.31.2 in pyproject.toml
  poetry.lock
  pyproject.toml
Due: none

Bump identify dependency from 2.6.10 to 2.6.12 in pyproject.toml
  poetry.lock
  pyproject.toml
Due: none

Bump multidict dependency from 6.4.4 to 6.6.3 in pyproject.toml
  poetry.lock
  pyproject.toml
Due: none

Bump setuptools dependency from 80.3.1 to 80.9.0 in pyproject.toml
  poetry.lock
  pyproject.toml
Due: none

Bump certifi dependency from 2025.4.26 to 2025.7.9 in pyproject.toml
  poetry.lock
  pyproject.toml
Due: none

Bump typing_extensions dependency from 4.13.2 to 4.14.1 in pyproject.toml
  poetry.lock
  pyproject.toml
Due: none

Bump uvicorn dependency from 0.34.1 to 0.35.0 in pyproject.toml
  poetry.lock
  pyproject.toml
Due: none

Bump ruff dependency from 0.12.2 to 0.12.3 in pyproject.toml
  poetry.lock
  pyproject.toml
Due: none

Add RETRY_SLEEP_TIME constant and update sleep duration in TabdealClient. Addresses [🚀 Feature]: Reduce waiting times to 10 seconds Fixes #483
  src/unofficial_tabdeal_api/constants.py
  src/unofficial_tabdeal_api/tabdeal_client.py
Due: Source

Update sleep duration in tests to use RETRY_SLEEP_TIME constant
  tests/test_tabdeal_client.py
Due: Tests

Rename RETRY_SLEEP_TIME to RETRY_SLEEP_SECONDS for clarity in retry operation timing
  src/unofficial_tabdeal_api/constants.py
Due: Source

Replace RETRY_SLEEP_TIME with RETRY_SLEEP_SECONDS for consistency in timing references
  src/unofficial_tabdeal_api/tabdeal_client.py
  tests/test_tabdeal_client.py
Due: Source, Tests

Update logging messages to reflect dynamic sleep duration in TabdealClient
  src/unofficial_tabdeal_api/tabdeal_client.py
  tests/test_tabdeal_client.py
Due: Source, Tests

Updated lock file
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

Update lock file
  poetry.lock
  pyproject.toml
Due: none

Bump version to 0.3.8 in pyproject.toml and __init__.py
  poetry.lock
  pyproject.toml
  src/unofficial_tabdeal_api/__init__.py
Due: Source

Add rich dependency version 14.1.0 to pyproject.toml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

Version bump
  pyproject.toml
  src/unofficial_tabdeal_api/__init__.py
Due: Source

Set status to un-maintained
  README.rst
Due: none

Increase max dependabot prs
  .github/dependabot.yml
Due: none

Update README to indicate project is no longer maintained
  README.rst
Due: none

small fix
  README.rst
Due: none

Refactor README to improve clarity on project maintenance status
  README.rst
Due: none

Update SECURITY.md to reflect that the project is no longer maintained
  SECURITY.md
Due: none

Update CONTRIBUTING.rst to clarify that the project is no longer maintained
  CONTRIBUTING.rst
Due: none

Update SECURITY.md
  SECURITY.md
Due: none

Update CONTRIBUTING.rst
  CONTRIBUTING.rst
Due: none

fix: requirements.txt to reduce vulnerabilities
  requirements.txt
Due: none

Fix critical bugs: Decimal import, README example, error handling issues
  README.rst
  src/unofficial_tabdeal_api/base.py
  src/unofficial_tabdeal_api/exceptions.py
  src/unofficial_tabdeal_api/models.py
  src/unofficial_tabdeal_api/tabdeal_client.py
Due: Source

Path conditions:
  Source: any of: src/unofficial_tabdeal_api/**
  Tests: any of: tests/**
