Repository MohsenHNSJ/unofficial_tabdeal_api: changes, and which Codecov flags are due for each by the changed paths.
All: Source, Tests

Add _withdraw_balance_if_requested method to TabdealClient and implement tests for balance withdrawal scenarios
  .vscode/settings.json
  src/unofficial_tabdeal_api/tabdeal_client.py
  tests/test_tabdeal_client.py
Due: Source, Tests

Add trade_margin_order tests for withdrawal scenarios and validation checks
  tests/test_tabdeal_client.py
Due: Tests

Add pragma directive to exclude margin order search loop from coverage
  src/unofficial_tabdeal_api/margin.py
Due: Source

Added some type hinting
  .pre-commit-config.yaml
  tests/test_tabdeal_client.py
Due: Tests

Refactor test assertions for clarity and maintainability
  tests/test_tabdeal_client.py
Due: Tests

Remove redundant return statement from _open_order method docstring
  src/unofficial_tabdeal_api/tabdeal_client.py
Due: Source

Fix logging message formatting for margin order not found exception
  src/unofficial_tabdeal_api/tabdeal_client.py
  tests/test_tabdeal_client.py
Due: Source, Tests

Add return type annotation to _open_order method and fix pylint comment formatting
  src/unofficial_tabdeal_api/tabdeal_client.py
  tests/test_tabdeal_client.py
Due: Source, Tests

Bump version to 0.3.2 in pyproject.toml and __init__.py
  pyproject.toml
  src/unofficial_tabdeal_api/__init__.py
Due: Source

Possible fix for documentation error
  CONTRIBUTING.rst
Due: none

Remove outdated comment regarding return type in test_open_order_return_value
  tests/test_tabdeal_client.py
Due: Tests

Remove unnecessary mock data for MarginOrderModel in test_validate_trade_conditions_with_real_order_model
  tests/test_tabdeal_client.py
Due: Tests

Possible fix for a critical issue in POST requests
  src/unofficial_tabdeal_api/base.py
Due: Source

Fix invalid tests function
  tests/test_constants.py
Due: Tests

Bump version to 0.3.3
  pyproject.toml
  src/unofficial_tabdeal_api/__init__.py
Due: Source

Bump version to 0.3.4
  pyproject.toml
  src/unofficial_tabdeal_api/__init__.py
Due: Source

Added `model` to init file to enable importing in production
  src/unofficial_tabdeal_api/__init__.py
Due: Source

Bump version to 0.3.5
  pyproject.toml
  src/unofficial_tabdeal_api/__init__.py
Due: Source

Add labels to Dependabot updates for better categorization
  .github/dependabot.yml
Due: none

Add devcontainers package-ecosystem to Dependabot configuration
  .github/dependabot.yml
Due: none

Refactor Dependabot configuration for improved clarity and consistency
  .github/dependabot.yml
Due: none

Update safety dependency to version 3.6.0
  .vscode/settings.json
  poetry.lock
  pyproject.toml
Due: none

Add .private_tests to .gitignore and update VSCode settings with new word
  .gitignore
  .vscode/settings.json
Due: none

Add error handling and ensure session closure in _post_data_to_server method
  src/unofficial_tabdeal_api/base.py
Due: Source

Add error handling and ensure session closure in _get_data_from_server method
  src/unofficial_tabdeal_api/base.py
Due: Source

Refactor _get_data_from_server and _post_data_to_server methods to remove redundant session closure logic
  src/unofficial_tabdeal_api/base.py
Due: Source

Fixed open margin order uri changed by Tabdeal
  src/unofficial_tabdeal_api/constants.py
Due: Source

Fixed bugs in opening SELL orders
  docs/faq.rst
  docs/index.rst
  src/unofficial_tabdeal_api/margin.py
  src/unofficial_tabdeal_api/tabdeal_client.py
  src/unofficial_tabdeal_api/utils.py
  tests/test_utils.py
Due: Source, Tests

Temporary ignore some tests
  tests/test_margin.py
  tests/test_tabdeal_client.py
Due: Tests

Fixed dependabot configuration having invalid entries
  .github/dependabot.yml
Due: none

Bump version to 0.3.6 and update pytest-codspeed to 4.0.0
  poetry.lock
  pyproject.toml
  src/unofficial_tabdeal_api/__init__.py
Due: Source

Bump aiohttp version from 3.12.13 to 3.12.14 in README, pyproject.toml, and requirements.txt
  README.rst
  poetry.lock
  pyproject.toml
  requirements.txt
Due: none

Bump sphinx from 8.2.0 to 8.2.3 in requirements.txt
  docs/requirements.txt
Due: none

Refactor margin order handling: update volume fraction logic and remove unused fields
  src/unofficial_tabdeal_api/margin.py
  src/unofficial_tabdeal_api/models.py
  src/unofficial_tabdeal_api/tabdeal_client.py
  tests/test_constants.py
  tests/test_order.py
Due: Source, Tests

Sync poetry lock file
  poetry.lock
Due: none

Add PDF format to Read the Docs build configuration
  .readthedocs.yml
Due: none

Add open-pull-requests-limit to all package ecosystems in dependabot configuration
  .github/dependabot.yml
Due: none

Re-enabled vale temporary
  .pre-commit-config.yaml
Due: none

Disabled vale hook
  .pre-commit-config.yaml
Due: none

Fix capitalization and grammar in FAQ section of documentation
  docs/faq.rst
Due: none

Path conditions:
  Source: any of: src/unofficial_tabdeal_api/**
  Tests: any of: tests/**
