Repository MohsenHNSJ/unofficial_tabdeal_api: changes, and which Codecov flags are due for each by the changed paths.
All: Source, Tests

codecov.yml:

codecov:
  branch: main # Default branch
  require_ci_to_pass: false # Should Codecov wait for all other statuses to pass before sending its status.

component_management:
  individual_components: # List. These are the actual components.
    - component_id: src # This is an identifier that should not be changed
      name: Source # This is a display name, and can be changed freely
      paths:
        - src/unofficial_tabdeal_api/**
    - component_id: tests
      name: Tests
      paths:
        - tests/**

# Useful for blocking Pull Requests that don't meet a particular coverage threshold.
coverage:
  precision: 3 # What precision do you want the coverage value to be
  range: "95...100" # The value range where you want the value to be green
  status:
    project:
      default: # Default is the status check's name, not default settings
        target: 95% # Minimum coverage ratio that the commit must meet to be considered a success.
        threshold: 5% # Allow the coverage to drop by <number>%, and posting a success status.
        if_ci_failed: error # Will set the status to success only if the CI is successful

# Detailed report commented directly into your pull request
comment:
  layout: "diff, flags, components, files" # Customize your comment layout by choosing the order and types of components to include.
  behavior: new # Delete old and post new.
  require_changes: false # # if true: only post the comment if coverage changes
  require_base: false # Base commit not required for posting
  require_head: true # Must have a head commit to post
  hide_project_coverage: false # Only show coverage on the git diff

Added checkov workflow
  .github/actions/setup-poetry-env/action.yml
  .github/workflows/checkov.yml
  .github/workflows/constraints.txt
  .vscode/settings.json
Due: none

Removed quiet mode from checkov workflow
  .github/workflows/checkov.yml
Due: none

Removed installation of the package itself.
  .github/workflows/checkov.yml
Due: none

Fixed setup-poetry-env action installing all dependencies regardless of user choice
  .github/actions/setup-poetry-env/action.yml
Due: none

Re-add quiet mode to checkov workflow
  .github/workflows/checkov.yml
Due: none

Removed paths argument
  .github/workflows/checkov.yml
Due: none

Moved to ci_light flavor for MegaLinter to improve performance. #316
  .github/workflows/mega-linter.yml
Due: none

Fix indentation error
  .github/workflows/checkov.yml
Due: none

Updated pyproject.toml file
  poetry.lock
  pyproject.toml
Due: none

Project is now moved to Beta state
  SECURITY.md
  pyproject.toml
Due: none

Labels refactoring
  .github/labels.yml
  .vscode/settings.json
  src/unofficial_tabdeal_api/base.py
Due: Source

Minor fixes
  README.rst
  tests/test_server.py
Due: Tests

Fix rendering table of contents on readthedocs
  CONTRIBUTING.rst
  README.rst
Due: none

Fix assuming LICENSE file is a markdown file
  .vscode/settings.json
Due: none

Minor fixes
  .vscode/settings.json
  CONTRIBUTING.rst
  README.rst
  pyproject.toml
Due: none

Fix error while publishing th e package to test.PyPI
  README.rst
Due: none

Fixed Release workflow bug
  .github/workflows/release-packge.yml
Due: none

Removed the test function from TabdealClient module
  src/unofficial_tabdeal_api/tabdeal_client.py
  tests/test_tabdeal_client.py
Due: Source, Tests

normalize_decimal function is not async anymore as it was not needed
  src/unofficial_tabdeal_api/margin.py
  src/unofficial_tabdeal_api/utils.py
  src/unofficial_tabdeal_api/wallet.py
  tests/test_utils.py
Due: Source, Tests

calculate_order_volume is not async anymore as it's not needed
  src/unofficial_tabdeal_api/margin.py
  src/unofficial_tabdeal_api/utils.py
  tests/test_utils.py
Due: Source, Tests

calculate_usdt is not async anymore as it's not needed
  src/unofficial_tabdeal_api/margin.py
  src/unofficial_tabdeal_api/utils.py
  tests/test_utils.py
Due: Source, Tests

isolated_symbol_to_tabdeal_symbol is not async anymore as it's not needed
  src/unofficial_tabdeal_api/utils.py
  src/unofficial_tabdeal_api/wallet.py
  tests/test_utils.py
Due: Source, Tests

calculate_sl_tp_prices is not async anymore as it's not needed
  src/unofficial_tabdeal_api/tabdeal_client.py
  src/unofficial_tabdeal_api/utils.py
  tests/test_utils.py
Due: Source, Tests

Reduced the complexity of tests for Authorization class
  tests/test_authorization.py
Due: Tests

create_tabdeal_client is not async anymore as it's not needed
  tests/test_authorization.py
  tests/test_base.py
  tests/test_helper_functions.py
  tests/test_margin.py
  tests/test_order.py
  tests/test_tabdeal_client.py
  tests/test_wallet.py
Due: Tests

test_order_object is not async anymore as it's not needed
  tests/test_order.py
Due: Tests

Removed async from functions that don't need it
  tests/test_server.py
Due: Tests

Small fixes to functions
  src/unofficial_tabdeal_api/authorization.py
  src/unofficial_tabdeal_api/order.py
  tests/test_authorization.py
  tests/test_order.py
Due: Source, Tests

Various fixes and improvements to code quality
  src/unofficial_tabdeal_api/margin.py
  src/unofficial_tabdeal_api/order.py
  src/unofficial_tabdeal_api/tabdeal_client.py
  src/unofficial_tabdeal_api/utils.py
  tests/test_utils.py
Due: Source, Tests

Added a new benchmark
  tests/test_utils.py
Due: Tests

Small fixes in code
  src/unofficial_tabdeal_api/margin.py
  src/unofficial_tabdeal_api/wallet.py
Due: Source

Small fixes in wallet module
  src/unofficial_tabdeal_api/wallet.py
Due: Source

Small fixes to MarginOrder class
  src/unofficial_tabdeal_api/order.py
Due: Source

Improve coverage of base module
  .pre-commit-config.yaml
  src/unofficial_tabdeal_api/base.py
Due: Source

Pre-commit config file reformatting
  .pre-commit-config.yaml
Due: none

Small documentations added
  .github/workflows/compatibility-coverage.yml
  src/unofficial_tabdeal_api/tabdeal_client.py
Due: Source

Endpoints re-ordering in test helper functions
  tests/test_helper_functions.py
Due: Tests

Small documentation fix
  tests/test_constants.py
Due: Tests

Set each benchmark to run 10k times to reduce effectiveness of noise. Fixes Benchmarks should run more to reduce noise #406
  tests/test_utils.py
Due: Tests

Bump version to 0.3.1
  pyproject.toml
  src/unofficial_tabdeal_api/__init__.py
Due: Source
