Repository MohsenHNSJ/unofficial_tabdeal_api: changes, and which Codecov flags are due for each by the changed paths.
All: Source, Tests

codecov.yml:

codecov:
  branch: main # Default branch
  require_ci_to_pass: false # Should Codecov wait for all other statuses to pass before sending its status.

component_management:
  individual_components:
    - component_id: src # This is an identifier that should not be changed
      name: Source # This is a display name, and can be changed freely
      paths:
        - src/unofficial_tabdeal_api
    - component_id: tests
      name: Tests
      paths:
        - tests

coverage:
  precision: 3 # What precision do you want the coverage value to be
  range: "95...100" # The value range where you want the value to be green
  status:
    project:
      default:
        target: 80%
        threshold: 5%
        base: auto

comment:
  layout: "diff, flags, files"
  behavior: new # Delete old and post new.
  require_changes: false # # if true: only post the comment if coverage changes
  require_base: false # Base commit not required for posting
  require_head: true # Must have a head commit to post
  hide_project_coverage: false # Only show coverage on the git diff

Added some documentation Added flake8-future-annotations(FA) to ruff linters Added flake8-pyi(PYI) to ruff linters
  pyproject.toml
Due: none

Added some documentation Enabled ruff docstring linter
  pyproject.toml
Due: none

Added skeleton badge as we are importing ideas from that project (crediting the author)
  README.rst
Due: none

Sorted configurations by alphabetically Added warns about casting an expression to its inferred type in mypy
  pyproject.toml
Due: none

Re-ordered the file
  docs/conf.py
Due: none

Added destroyed symlinks hook
  .pre-commit-config.yaml
Due: none

Added Creosote
  .pre-commit-config.yaml
  .vscode/settings.json
  pyproject.toml
Due: none

Added sphinx-copybutton
  docs/conf.py
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Due: none

Reordered some configurations Added a napoleon setting to disable parsing documentations as numpy style
  docs/conf.py
Due: none

Added more ignore filters
  .gitignore
  .vscode/settings.json
Due: none

Updated contributing section with more details
  CONTRIBUTING.rst
  docs/contributing.rst
Due: none

Bump codecov-action from 5.4.0 to 5.4.2
  .github/workflows/main_tests.yml
  .github/workflows/test_tests.yml
Due: none

Updated dependencies
  poetry.lock
  pyproject.toml
Due: none

Bump Version to 0.1.7
  pyproject.toml
  src/unofficial_tabdeal_api/__init__.py
Due: Source

Fully covered base.py
  .vscode/settings.json
  src/unofficial_tabdeal_api/base.py
  tests/test_base.py
  tests/test_constants.py
Due: Source, Tests

Increased min required coverage target to 85%
  codecov.yml
Due: none

Fix for mypy test failing due to error in line 157 > Statement is unreachable [unreachable]
  tests/test_base.py
Due: Tests

Increased the coverage of authorization.py
  src/unofficial_tabdeal_api/authorization.py
  src/unofficial_tabdeal_api/constants.py
  tests/test_authorization.py
Due: Source, Tests

Added coverage for parts of margin.py
  .pre-commit-config.yaml
  .vscode/settings.json
  noxfile.py
  tests/test_constants.py
  tests/test_margin.py
Due: Tests

Increased min required coverage level
  codecov.yml
Due: none

Bumped Ruff to 0.11.6
  .github/workflows/constraints.txt
  poetry.lock
  pyproject.toml
Due: none

Bumped frozenlist to 1.6.0
  poetry.lock
  pyproject.toml
Due: none

Bumped urllib3 to 2.4.0
  poetry.lock
  pyproject.toml
Due: none

Bumped typing_extensions to 4.13.2
  poetry.lock
  pyproject.toml
Due: none

Set required marshmallow version
  poetry.lock
  pyproject.toml
Due: none

Added a word to spell check ignore list
  .vscode/settings.json
Due: none

Added dry-run option for keep_authorization_key_alive function
  src/unofficial_tabdeal_api/authorization.py
Due: Source

Added DryRun enum
  src/unofficial_tabdeal_api/enums.py
Due: Source

Fully covered authorization.py
  tests/test_authorization.py
Due: Tests

Fully covered margin.py
  tests/test_constants.py
  tests/test_margin.py
Due: Tests

Fixed MyPy error Name "response" already defined on line 101 [no-redef]
  tests/test_margin.py
Due: Tests

Bumped aiohttp to 3.11.18
  .github/workflows/constraints.txt
  poetry.lock
  pyproject.toml
  requirements.txt
Due: none

Bumped setuptools to 79.0.0
  poetry.lock
  pyproject.toml
Due: none

Bumped soupsieve to 2.7
  poetry.lock
  pyproject.toml
Due: none

Bump identify to 2.6.10
  poetry.lock
  pyproject.toml
Due: none

Improved coverage a little bit more
  tests/test_margin.py
Due: Tests

Added get_break_even_price function
  src/unofficial_tabdeal_api/margin.py
  src/unofficial_tabdeal_api/utils.py
  tests/test_constants.py
  tests/test_margin.py
  tests/test_utils.py
Due: Source, Tests

Fixed MyPy error: Name "response" already defined on line 168 [no-redef]
  tests/test_margin.py
Due: Tests

Bump setuptools to 79.0.1 Bump pre-commit-update hook to 0.7.0 Bump ruff hook to 0.11.7 Added a setting for flake8-type-checking
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none
