Repository MohsenHNSJ/unofficial_tabdeal_api: changes, and which Codecov flags are due for each by the changed paths.
All: Source, Tests

codecov.yml:

codecov:
  branch: main # Default branch
  require_ci_to_pass: false # Should Codecov wait for all other statuses to pass before sending its status.

component_management:
  individual_components: # List. These are the actual components.
    - component_id: src # This is an identifier that should not be changed
      name: Source # This is a display name, and can be changed freely
      paths:
        - src/unofficial_tabdeal_api/**
    - component_id: tests
      name: Tests
      paths:
        - tests/**

# Useful for blocking Pull Requests that don't meet a particular coverage threshold.
coverage:
  precision: 3 # What precision do you want the coverage value to be
  range: "95...100" # The value range where you want the value to be green
  status:
    project:
      default: # Default is the status check's name, not default settings
        target: 95% # Minimum coverage ratio that the commit must meet to be considered a success.
        threshold: 5% # Allow the coverage to drop by <number>%, and posting a success status.
        if_ci_failed: error # Will set the status to success only if the CI is successful

# Detailed report commented directly into your pull request
comment:
  layout: "diff, flags, components, files" # Customize your comment layout by choosing the order and types of components to include.
  behavior: new # Delete old and post new.
  require_changes: false # # if true: only post the comment if coverage changes
  require_base: false # Base commit not required for posting
  require_head: true # Must have a head commit to post
  hide_project_coverage: false # Only show coverage on the git diff

Improved coverage
  .vscode/settings.json
  src/unofficial_tabdeal_api/order.py
  tests/test_constants.py
  tests/test_margin.py
  tests/test_server.py
Due: Source, Tests

Bump coverage from 7.8.0 to 7.8.1
  .github/workflows/constraints.txt
  poetry.lock
  pyproject.toml
Due: none

Bump version to 0.1.9
  pyproject.toml
  src/unofficial_tabdeal_api/__init__.py
Due: Source

Improved code coverage
  tests/test_margin.py
  tests/test_server.py
Due: Tests

Ignored some lines that did not require coverage
  tests/test_server.py
Due: Tests

Bump dependency-groups from 1.3.0 to 1.3.1
  poetry.lock
  pyproject.toml
Due: none

Bump platformdirs from 4.3.7 to 4.3.8
  poetry.lock
  pyproject.toml
Due: none

Bump astroid from 3.3.9 to 3.3.10
  poetry.lock
  pyproject.toml
Due: none

Bump mypy-extensions from 1.0.0 to 1.1.0
  poetry.lock
  pyproject.toml
Due: none

Bump typer from 0.15.2 to 0.15.4
  poetry.lock
  pyproject.toml
Due: none

Added transfer_usdt_from_wallet_to_margin_asset
  .vscode/settings.json
  src/unofficial_tabdeal_api/base.py
  src/unofficial_tabdeal_api/constants.py
  src/unofficial_tabdeal_api/exceptions.py
  src/unofficial_tabdeal_api/utils.py
  src/unofficial_tabdeal_api/wallet.py
  tests/test_constants.py
  tests/test_server.py
  tests/test_utils.py
  tests/test_wallet.py
Due: Source, Tests

Added transfer_usdt_from_margin_asset_to_wallet
  .pre-commit-config.yaml
  .vscode/settings.json
  src/unofficial_tabdeal_api/base.py
  src/unofficial_tabdeal_api/constants.py
  src/unofficial_tabdeal_api/exceptions.py
  src/unofficial_tabdeal_api/wallet.py
  tests/test_constants.py
  tests/test_server.py
  tests/test_wallet.py
Due: Source, Tests

Bump Ruff from 0.11.10 to 0.11.11
  .github/workflows/constraints.txt
  poetry.lock
  pyproject.toml
Due: none

Added set_sl_tp_for_margin_order
  .pre-commit-config.yaml
  .vscode/settings.json
  src/unofficial_tabdeal_api/base.py
  src/unofficial_tabdeal_api/constants.py
  src/unofficial_tabdeal_api/exceptions.py
  src/unofficial_tabdeal_api/margin.py
  tests/test_constants.py
  tests/test_helper_functions.py
  tests/test_margin.py
  tests/test_server.py
Due: Source, Tests

Fix MyPy: Check that called function returns a value [func-returns-value]
  tests/test_margin.py
Due: Tests

Correct fix implemented
  tests/test_margin.py
Due: Tests

Bump coverage from 7.8.1 to 7.8.2
  .github/workflows/constraints.txt
  poetry.lock
  pyproject.toml
Due: none

Tweaked some settings related to the editor
  .vscode/settings.json
Due: none

Removed the main_tests badge as it's always on Failing due to misconfigurations for now
  README.rst
Due: none

Added maintenance intended badge
  README.rst
Due: none

Added maintenance badge to the readme table
  README.rst
Due: none

Added some features to readme file features section
  README.rst
Due: none

Improved the usage section
  README.rst
Due: none

Activated Ruff to it's full potential
  .vscode/settings.json
  docs/conf.py
  pyproject.toml
  src/unofficial_tabdeal_api/base.py
  src/unofficial_tabdeal_api/margin.py
  src/unofficial_tabdeal_api/order.py
  tests/test_base.py
  tests/test_helper_functions.py
  tests/test_margin.py
  tests/test_order.py
  tests/test_server.py
  tests/test_tabdeal_client.py
  tests/test_utils.py
Due: Source, Tests

Re-worked all tests and removed a lot of boiler-plate codes. Also fixed # 291
  .vscode/settings.json
  tests/test_authorization.py
  tests/test_base.py
  tests/test_constants.py
  tests/test_helper_functions.py
  tests/test_margin.py
  tests/test_order.py
  tests/test_server.py
  tests/test_utils.py
  tests/test_wallet.py
Due: Tests

Fix coverage issues
  tests/test_authorization.py
  tests/test_order.py
Due: Tests

Bump typer from 0.15.4 to 0.16.0
  poetry.lock
  pyproject.toml
Due: none

version bump
  pyproject.toml
  src/unofficial_tabdeal_api/__init__.py
Due: Source

Added megalinter workflow for testing
  .github/workflows/mega-linter.yml
  .vscode/settings.json
Due: none

Resolved some minor issues raised by megalinter
  .devcontainer/post-create.sh
  .github/actions/setup-poetry-env/action.yml
  .github/dependabot.yml
  .github/release-drafter.yml
  .github/workflows/codspeed.yml
  .github/workflows/dev-release-test-package.yml
  .github/workflows/labeler.yml
  .github/workflows/main_tests.yml
  .github/workflows/mega-linter.yml
  .github/workflows/release-packge.yml
  .github/workflows/test_tests.yml
  .hound.yml
  .pre-commit-config.yaml
  .readthedocs.yml
  .safety-policy.yml
  CONTRIBUTING.rst
  codecov.yml
Due: none

Fixed minor issues related to setup-poetry-env action
  .github/actions/setup-poetry-env/action.yml
  .github/workflows/mega-linter.yml
Due: none

Disable pylint and pyright as it's already handled by Ruff
  .github/workflows/mega-linter.yml
Due: none

Added a vscode usergroup and user in docker image and switch to for later commands in order to fix Trivy AVD-DS-0002
  .devcontainer/Dockerfile
  .vscode/settings.json
Due: none

Reverted the changes as it broke container building, it seems the image already does it and it's redundant
  .devcontainer/Dockerfile
Due: none

Disabled ruff format and isort as it's already being handled by Ruff
  .github/workflows/mega-linter.yml
Due: none

Disabled Flake8 as it's already being handled by Ruff
  .github/workflows/mega-linter.yml
Due: none

Disabled prettier in mega-linter as an equivalent is already present
  .github/workflows/mega-linter.yml
Due: none

Disabled devskim as it's raising false alarms
  .github/workflows/mega-linter.yml
  .vscode/settings.json
Due: none

Reverted the removal of some linters to re-configure them and fix the false-positives. This way, it's more useful
  .github/workflows/mega-linter.yml
Due: none

Added github status reporter to mega-linter
  .github/workflows/mega-linter.yml
Due: none
