Repository MohsenHNSJ/unofficial_tabdeal_api: changes, and which Codecov flags are due for each by the changed paths.
All: Source, Tests

codecov.yml:

codecov:
  branch: main # Default branch
  require_ci_to_pass: false # Should Codecov wait for all other statuses to pass before sending its status.

component_management:
  individual_components: # List. These are the actual components.
    - component_id: src # This is an identifier that should not be changed
      name: Source # This is a display name, and can be changed freely
      paths:
        - src/unofficial_tabdeal_api/**
    - component_id: tests
      name: Tests
      paths:
        - tests/**

# Useful for blocking Pull Requests that don't meet a particular coverage threshold.
coverage:
  precision: 3 # What precision do you want the coverage value to be
  range: "95...100" # The value range where you want the value to be green
  status:
    project:
      default: # Default is the status check's name, not default settings
        target: 95% # Minimum coverage ratio that the commit must meet to be considered a success.
        threshold: 5% # Allow the coverage to drop by <number>%, and posting a success status.
        if_ci_failed: error # Will set the status to success only if the CI is successful

# Detailed report commented directly into your pull request
comment:
  layout: "diff, flags, components, files" # Customize your comment layout by choosing the order and types of components to include.
  behavior: new # Delete old and post new.
  require_changes: false # # if true: only post the comment if coverage changes
  require_base: false # Base commit not required for posting
  require_head: true # Must have a head commit to post
  hide_project_coverage: false # Only show coverage on the git diff

Bump download-artifact action to 4.3.0
  .github/workflows/main_tests.yml
  .github/workflows/test_tests.yml
Due: none

Wrapped imports that are only used for type checking to reduce runtime performance overhead
  tests/test_authorization.py
  tests/test_base.py
  tests/test_margin.py
Due: Tests

Bump h11 to 0.16.0
  poetry.lock
  pyproject.toml
Due: none

Added # pragma: no cover to type checking branches
  tests/test_authorization.py
  tests/test_base.py
  tests/test_margin.py
Due: Tests

Bump Ruff to 0.11.7
  .github/workflows/constraints.txt
  poetry.lock
  pyproject.toml
Due: none

Added get_pair_id function
  src/unofficial_tabdeal_api/margin.py
  tests/test_constants.py
  tests/test_margin.py
Due: Source, Tests

Bump version to 0.1.8
  pyproject.toml
  src/unofficial_tabdeal_api/__init__.py
Due: Source

Refactor variable naming in tests
  tests/test_constants.py
  tests/test_margin.py
Due: Tests

Refactored code and added _get_isolated_symbol_details
  src/unofficial_tabdeal_api/margin.py
  tests/test_constants.py
  tests/test_margin.py
Due: Source, Tests

Bump setuptools to 80.1.0 Bump gitleaks hook to 8.25.1
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

Bump pip to 25.1
  .github/workflows/constraints.txt
Due: none

Improved coverage
  .vscode/settings.json
  tests/test_constants.py
  tests/test_margin.py
Due: Tests

Fixed mypy error: Name "margin_asset_id" already defined on line 98 [no-redef]
  src/unofficial_tabdeal_api/margin.py
Due: Source

Added decimal context settings
  .vscode/settings.json
  src/unofficial_tabdeal_api/constants.py
  src/unofficial_tabdeal_api/utils.py
Due: Source

Preparing to add proper exception handling
  src/unofficial_tabdeal_api/base.py
  src/unofficial_tabdeal_api/exceptions.py
  src/unofficial_tabdeal_api/utils.py
Due: Source

Bump Nox to 2025.05.01 Bump Ruff to 0.11.8 Bump Poetry to 2.1.3
  .github/workflows/constraints.txt
  .pre-commit-config.yaml
  noxfile.py
  poetry.lock
  pyproject.toml
Due: none

Bumped pip to 25.1.1
  .github/workflows/constraints.txt
Due: none

Bumped setuptools to 80.3.1
  poetry.lock
  pyproject.toml
Due: none

Updated base api url to use the newest backend version Added proper exception handling Added some words to spell check ignore list Re-worked base functions Updated base tests
  .vscode/settings.json
  src/unofficial_tabdeal_api/base.py
  src/unofficial_tabdeal_api/constants.py
  src/unofficial_tabdeal_api/exceptions.py
  tests/test_base.py
  tests/test_constants.py
Due: Source, Tests

Added some words to spellchecker ignore list
  .vscode/settings.json
Due: none

Re-worked the authorization class
  src/unofficial_tabdeal_api/authorization.py
Due: Source

Updated process_server_response function to also accept strings
  src/unofficial_tabdeal_api/utils.py
Due: Source

Updated all test functions
  tests/test_authorization.py
  tests/test_base.py
  tests/test_constants.py
  tests/test_server.py
  tests/test_utils.py
Due: Tests

Re-Worked the margin class
  src/unofficial_tabdeal_api/exceptions.py
  src/unofficial_tabdeal_api/margin.py
Due: Source

Re-worked all tests for margin.py
  src/unofficial_tabdeal_api/margin.py
  tests/test_constants.py
  tests/test_margin.py
  tests/test_server.py
Due: Source, Tests

Change codecov reporting mechanism to default as it creates multiple comments right now
  codecov.yml
Due: none

Added get_margin_asset_balance
  src/unofficial_tabdeal_api/margin.py
  tests/test_constants.py
  tests/test_margin.py
Due: Source, Tests

Added get_margin_asset_precision_requirements
  src/unofficial_tabdeal_api/margin.py
  tests/test_constants.py
  tests/test_margin.py
Due: Source, Tests

Added get_margin_asset_trade_able function
  src/unofficial_tabdeal_api/margin.py
  tests/test_constants.py
  tests/test_margin.py
  tests/test_server.py
Due: Source, Tests

Disabled fail_on_warning temporary till resolving the issue with docs build
  .readthedocs.yml
Due: none

Updated pre-commit ruff to 0.11.9
  .pre-commit-config.yaml
Due: none

Removed reviewers field in dependabot configuration file as it will be removed soon.
  .github/dependabot.yml
Due: none

Added CODEOWNERS file
  .github/CODEOWNERS
  .vscode/settings.json
Due: none

Bump packaging from 24.2 to 25.0
  poetry.lock
  pyproject.toml
Due: none

Bump cryptography from 44.0.2 to 44.0.3
  poetry.lock
  pyproject.toml
Due: none

Bump certifi from 2025.1.31 to 2025.4.26
  poetry.lock
  pyproject.toml
Due: none

Bump snowballstemmer from 2.2.0 to 3.0.1
  poetry.lock
  pyproject.toml
Due: none

Bump joblib from 1.4.2 to 1.5.0
  poetry.lock
  pyproject.toml
Due: none

Bump Ruff from 0.11.8 to 0.11.9
  .github/workflows/constraints.txt
  poetry.lock
  pyproject.toml
Due: none

Added get_wallet_usdt_balance
  src/unofficial_tabdeal_api/authorization.py
  src/unofficial_tabdeal_api/base.py
  src/unofficial_tabdeal_api/constants.py
  src/unofficial_tabdeal_api/exceptions.py
  src/unofficial_tabdeal_api/margin.py
  src/unofficial_tabdeal_api/tabdeal_client.py
  src/unofficial_tabdeal_api/utils.py
  src/unofficial_tabdeal_api/wallet.py
  tests/test_authorization.py
  tests/test_base.py
  tests/test_constants.py
  tests/test_helper_functions.py
  tests/test_margin.py
  tests/test_server.py
  tests/test_utils.py
  tests/test_wallet.py
Due: Source, Tests
